body {
    background-color: navy;
}

#buttonContainer {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    background-color: darkgray;
    padding: 50px;
    border-radius: 10px;
}

button {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display:block;
}

#blipButton {
    font-style: italic;
    color: darkslateblue;
    background-color: lightgray;
}

#bloopButton {
  font-weight: bolder;
  background-color: slateblue;
  color: lightgray;
}

#blurpButton{
    font-weight: 900;
    font-style: italic;
    background-color: darkslateblue;
    color: slateblue;
}

button:hover {
    border: 5px solid black;
}

button:clicked {
    border:none;
}