.buttonContainer {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: darkblue;
}

button {
    height: 50px;
    border-radius: 100%;
    font-style: italic;
    background-color: lightblue;
}
