body {
    background-color: navy;
}

#buttonContainer {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: slateblue;
    padding: 50px;
    border-radius: 100%;
}

button {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

#blipButton {
    font-style: italic;
    color: darkblue;
    background-color: lightblue;
}

#bloopButton {
  font-weight: bolder;
  background-color: lightslategray;
  color: white;
}

#blurpButton{
    font-weight: 900;
    font-style: italic;
    background-color: darkslateblue;
    color: lightblue;
}

button:hover {
    border: 5px solid black;
}

button:clicked {
    border:none;
}